---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "About Me"
---

<BaseLayout pageTitle = {pageTitle}>
  <h1>{pageTitle}</h1>
  <p>Hello, my name is Anthony, and I am based in the Tampa Bay area. If you are here, it's probably because you are asking yourself WTF this site is all about, so let explain.</p>
  <p>The idea for this site began years ago when I wanted to create a personal knowledgebase to document my experiences, trials, and failures over time. My goals were simple:</p>

  <ul>
      <li>Have a single reference point to:
          <ul>
              <li>Refresh my memory about garden details from specific years</li>
              <li>Recall why I chose certain technologies</li>
          </ul>
      </li>
  </ul>

  <h2>Initial Attempts</h2>

  <p>At first, I tried finding a pre-built wiki solution, but:</p>
  <ul>
      <li>Never successfully implemented any options</li>
      <li>Lost interest after moving to my current house</li>
  </ul>

  <h2>Current Motivation</h2>

  <p>Years later, I'm motivated to:</p>
  <ul>
      <li>Meaningfully document my interests</li>
      <li>Develop my web development skills</li>
      <li>Create a platform for personal documentation</li>
  </ul>

  <h2>Current Blog Status</h2>

  <p>As of now:</p>
  <ul>
      <li>Only one category exists: "Building This Blog"</li>
      <li>This category will document challenges in blog development</li>
      <li>Anticipated challenges include:
          <ul>
              <li>HTML/CSS issues</li>
              <li>Astro-related problems</li>
          </ul>
      </li>
  </ul>
  <h2>Future Categories</h2>
  <ul>
      <li>While there's no telling what the future brings, these are some of the categories I hope to include:</li>
          <ul>
              <li>Raising Chickens for meat/eggs</li>
              <li>Building a low maintenance garden/food forest</li>
              <li>Integrating Technology into the Homestead</li>
          </ul>
      </li>
  </ul>
  <h2>Learning Approach</h2>

  <p>The blog serves as a learning tool where I:</p>
  <ul>
      <li>Write about challenges I encounter</li>
      <li>Solidify my understanding of technologies</li>
      <li>Prevent forgetting solutions by documenting them</li>
  </ul>
</BaseLayout>