---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogPost from "../components/BlogPost.astro"
const pageTitle = "My learning blog"
const allPosts = await Astro.glob('./posts/*.md')
---

<BaseLayout pageTitle = {pageTitle}>
	<slot>
		<h1>My Astro Blog</h1>
		<ul>	
			{allPosts.map((post)=><BlogPost url = {post.url} title = {post.frontmatter.title}/>)}
		</ul>
	<slot/>
</BaseLayout>