---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Home Page"
---
<BaseLayout pageTitle = {pageTitle}>
	<h1>Root Systems</h1>
	<h2>My home for tech and homestead experiences</h2> 
	<p>Welcome! You have found my place for recording things I do/build/learn working a small homestead and building different projects that interest me!</p>
</BaseLayout>